<div style="margin-top: 2%;">
    <div *ngIf="customers?.length > 0; else nodata">
        <div style="margin-bottom: 2%;">
            <button class="btn btn-primary btn-success" [routerLink]="'/createCustomer'">
                <fa-icon [icon]="faPlus"></fa-icon> Add New Customer
            </button>
        </div>
        <table id="tableResultados" class="table">
            <thead>
                <tr>
                    <th scope="col">Nit</th>
                    <th scope="col">Full Name</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let customer of customers">
                    <td>{{ customer.Nit }}</td>
                    <td>{{ customer.FullName }}</td>
                    <td>
                        <button class="btn btn-primary btn-success">
                            <fa-icon [icon]="faSearch"></fa-icon>
                        </button>
                        <button class="btn btn-primary btn-warning">
                            <fa-icon [icon]="faPen"></fa-icon>
                        </button>
                        <button class="btn btn-primary btn-danger">
                            <fa-icon [icon]="faTrash"></fa-icon>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<ng-template #nodata>
    <h4 class="m-1">Waiting for data...</h4>
</ng-template>